@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 98%;
    --placeholder: 0, 0%, 20%;
    --idle: 0, 0%, 85%;
    --foreground-heading: 0, 0%, 20%;
    --foreground-text: 0, 0%, 98%; 
    --primary: 252, 100%, 62%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 252, 100%, 84%;
    --secondary-foreground: 0, 0%, 100%;
    --secondary-other: 252, 100%, 96%;
    --secondary-other-foreground: 0, 0%, 100%;
    --destructive: 0, 100%, 61%;
    --destructive-foreground: 0, 0%, 100%;
    --border: 8px;
    --default: 0, 0%, 45%; 
    --padding-button:11px;
    --shadow-active: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
    --shadow-secondary: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    --font-button: 16px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .container-snap::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}